@import url('./normalize.css');
@import url('./variables.css');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color, #0e0f11);
  color: var(--text-color-main, #ffffff);
}

h1,
h2 {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}
