@import url('./normalize.css');
/* @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--bgColor);
  color: var(--primaryColor);
  /* font-family: 'Inter', sans-serif; */
  display: flex;
  flex-direction: column;
  /* font-family: "Inter Tight", sans-serif; */
}

main {
  flex: 1;
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
