.header {
  background-color: #1a202c;
  padding: 1rem 6rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 80rem;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerLogo {
  margin-right: 0.75rem;
}

.logoContainer {
  margin-right: 20px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .navLinks {
    gap: 1.5rem;
  }
}

.navLink {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

@media (min-width: 640px) {
  .navLink {
    display: block;
  }
}
/* .navLink:hover span {
  text-decoration: underline;
} */

.cartIcon {
  margin-left: auto;
}
.spanLink {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  transform: translateY(0.5rem);
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

.navLink:hover .spanLink,
.navLink:focus .spanLink,
.navLink:active .spanLink {
  opacity: 1;
}
