.header {
  background-color: var(--productList);
  padding: 20px;
  border-bottom: 4px double var(--colorProduct);
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 80rem;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  margin-right: 20px;
}

.navLinks {
  display: flex;
  flex-wrap: wrap;
}

.navLinksMobile {
  display: none;
}

.ulLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.25rem;
}

.ulLinksPrivat {
  composes: ulLinks;
  margin-left: 1rem;
}

.navLink {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primaryColor);
}

.cartIcon {
  margin-left: auto;
}
.spanLink {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  transform: translateY(0.5rem);
  background-color: var(--primaryColor);
  opacity: 0;
  transition: opacity 0.5s;
}

.navLink:hover .spanLink,
.navLink:focus .spanLink,
.navLink:active .spanLink {
  opacity: 1;
}

@media screen and (max-width: 880px) {
  .navLinks {
    display: none;
  }
  .header {
    padding: 1rem 1rem;
  }

  .ulLinksMobile {
    display: none;
  }
  .navLinksMobile {
    display: flex;
    align-items: center;
  }

  .menuIcon {
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  .rotateOpen {
    transform: rotate(0deg);
  }

  .rotateClose {
    transform: rotate(360deg);
  }

  .ulLinksMobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
    background-color: var(--productList);
    transition: transform 0.5s ease;
  }

  .menuOpen {
    transform: translateY(0);
  }

  .menuClose {
    transform: translateY(-100%);
  }

  .navLinksMobile li {
    margin-bottom: 16px;
  }

  .navLinksMobile ul {
    padding: 20px;
    z-index: 100;
  }
}
