.heroSection {
  background-image: linear-gradient(
      90deg,
      var(--bgColor),
      var(--gradientLightContact),
      var(--bgColor)
    ),
    url(../../assets/banner-11.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 160px 20px;
  text-align: start;
}
.heroText {
  font-size: 62px;
  font-weight: 800;
  letter-spacing: -0.93px;
  line-height: 67px;
  text-align: center;
  text-transform: capitalize;
  color: var(--primaryColor);
  margin-bottom: 40px;
}
