.section {
  padding: 40px 20px;
}
.productionHead {
  font-size: 76px;
  font-weight: 800;
  letter-spacing: 1.14px;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 40px;
}

.productionTitle {
  font-size: 57px;
  font-weight: 800;
  letter-spacing: -0.855px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.description {
  display: flex;
  gap: 50px;
  align-items: center;
}
.descriptionRevert {
  composes: description;
}

.aboutProduct {
  color: var(--colorProduct);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.285px;
  line-height: 24px;
}

.aboutProduct p:not(:last-child) {
  margin-bottom: 20px;
}

.productionList:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (max-width: 880px) {
  .productionHead {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .productionTitle {
    font-size: 46px;
    margin-bottom: 12px;
  }
  .description {
    flex-wrap: wrap;
    justify-content: center;
  }
  .descriptionRevert {
    composes: description;
    flex-direction: column-reverse;
  }
}
